@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}

<div class="card signin">
    <div class="card-header">Create new account</div>
    <div class="card-block">
        @Html.Partial("_Register")


    </div>
</div>



