@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}

<div class="card">
    <div class="card-block">
        <h1 style="padding-top: 20vh;padding-bottom: 20vh;" class="text-center">You have been signed out</h1>
    </div>
</div>

