@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}

<div class="card signin">
    <div class="card-header">Sign In</div>
    <div class="card-block">
        @Html.Partial("_SignIn")


    </div>
</div>

