
<div class="card-menu float-right">
    
    <div class="btn-group">
        
        
            <i class="pointer fa fa-fw fa-arrows-alt" data-toggle="fullscreen" aria-hidden="true" title="Full screen"></i>
        
        
            <i class="pointer fa fa-fw fa-ellipsis-v" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">
                <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>
                Add to Dashboard
            </button>
            <button class="dropdown-item" type="button">
                <i class="fa fa-fw fa-line-chart" aria-hidden="true"></i>
                Add to Report
            </button>

            <div class="dropdown-divider"></div>

            <button class="dropdown-item" type="button">
                <i class="fa fa-fw fa-link" aria-hidden="true"></i>
                Link
            </button>
            <button class="dropdown-item" type="button">
                <i class="fa fa-fw fa-code" aria-hidden="true"></i>
                Embed
            </button>
            <button class="dropdown-item" type="button">
                <i class="fa fa-fw fa-share-alt" aria-hidden="true"></i>
                Share
            </button>

            <div class="dropdown-divider"></div>

            <button class="dropdown-item" type="button">
                <i class="fa fa-fw fa-question" aria-hidden="true"></i>
                Help
            </button>
        </div>
    </div>
</div>