
<div id="global-sidenav" class="sidenav">

    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link sign-in" href="#">
                <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                Sign-in
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link register" href="#">
                <i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i>
                Register
            </a>
        </li>
    </ul>

    <ul class="nav flex-column">
        <li class="nav-item">
            <div class="typeahead__container">

                <a href="#" onclick="return false">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                        </div>
                        <input id="search-box"
                               autofocus
                               type="text"
                               class="js-typeahead-name"
                               placeholder="" autocomplete="off" />
                    </div>

                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>
                Your Reports
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-fw fa-bar-chart" aria-hidden="true"></i>
                    Loan Strategy Results
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-fw fa-bar-chart" aria-hidden="true"></i>
                    ROAA bet with Alex
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-fw fa-bar-chart" aria-hidden="true"></i>
                    Competitor Monitoring
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                    Create New Report
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-fw fa-line-chart" aria-hidden="true"></i>
                Rankings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.RouteUrl("orgs")">
                <i class="fa fa-fw fa-building-o" aria-hidden="true"></i>
                Bank Directory
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i>
                News
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-fw fa-snowflake-o" aria-hidden="true"></i>
                Community
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>
                Contact
            </a>
        </li>
    </ul>

</div>