@using bank.reports
@model ReportViewModel

<thead>
    <tr>
        <td class="width-75 card-header align-middle">
            @if (Model.ShowTitle)
            {
                @Model.Report.Title
            }
        </td>

        @foreach (var column in Model.Report.VisibleColumns)
            {
                var company = column as CompanyColumn;

            <th align="center"
                class="fact-column"
                data-organization="@(company != null ? company.Organization.OrganizationId.ToString() : "")">
                @if (Model.Report.Columns.Count > 1)
                {
                    //@Html.Raw(string.Format("<a href=\"{0}\">", column.HeaderUrl))
                    @column.HeaderText
                    //@Html.Raw("</a>")
                }
            </th>
        }
    </tr>
</thead>