@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";

    //var quotes = new string[]
    //{
    //    "Well, you said you wanted to be around when I made a mistake.",
    //     "She can't take much more, captain!",
    //     "I have a bad feeling about this.",
    //     "Luke! We’re gonna have company!",
    //     "Only at the end do you realize the power of the Dark Side.",
    //     "It’s not fair! They promised me they fixed it! It’s not my fault!",
    //     "You know, that little droid is going to cause me a lot of trouble.",
    //     "Do… or do not. There is no try.",
    //     "I’m Luke Skywalker? I’m here to rescue you!",
    //     "Boba Fett? Boba Fett? Where?",
    //     "These aren’t the droids you’re looking for.",
    //     "Aren’t you a little short for a Stormtrooper?",
    //     "Told you I did. Reckless is he. …Now, matters are worse."
    //};

    //var rnd = new Random();
    //var index = rnd.Next(0, quotes.Length - 1);
    //var quote = quotes[index];
}
<div class="error-background">
    <div class="container">
        <div class="text-xs-center">
            <h1 class="something-bad">Hmmmm, something bad happened. <br /> Try the <a href="/">homepage?</a></h1>
        </div>
        
    </div>
</div>