@model FactViewModel
@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}


@section Header {


}





<div class="card">
    <div class="card-block">
        <div id="container" style="height: 400px; min-width: 100%"></div>
    </div>
</div>

@section ScriptsProxy {

    <script src="https://code.highcharts.com/stock/highstock.js"></script>

  
    <script>
        $(function () {

            Highcharts.stockChart('container', {


                title: {
                    text: 'AAPL Stock Price'
                },
                xAxis: {
                    //tickInterval: 3 * 30 * 24 * 3600 * 1000
                    labels: {
                        formatter: function() {
                            var s;
                            if (Highcharts.dateFormat('%b', this.value) == 'Jan') {
                                s = "Q1"
                            };
                            if (Highcharts.dateFormat('%b', this.value) == 'Apr') {
                                s = "Q2"
                            };
                            if (Highcharts.dateFormat('%b', this.value) == 'Jul') {
                                s = "Q3"
                            };
                            if (Highcharts.dateFormat('%b', this.value) == 'Oct') {
                                s = "Q4"
                            };
                            s = s + " " + Highcharts.dateFormat('%Y', this.value);
                            return s;
                        }
                    }
                },

                series: @Model.Series
            });

        });
    </script>

}