<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="FriendlyErrors" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebBaseUrl" value="https://dev.bankjitsu.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GoogleAnalyticsTrackingId" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReportTemplatePath" value="D:\web\bank\webroot\report-templates" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <!--<add name="bank" connectionString="" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
