<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="TwitterKey" value="mbKExALtVsoyTk9XT5FHlIXnO"/>
    <add key="TwitterSecret" value="vWYpp68OCCobCHydQWpJ3H7sbWTpCNQJ4AHwZwtMqUyIVe72JH"/>
  </appSettings>
  <connectionStrings>
    <add name="bank" connectionString="Data Source=localhost\sql2014;Initial Catalog=BankData;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>