
@{
    //ViewBag.Title = "Real Unbiased Reviews & Ratings of Mortgage Lenders";
    //ViewBag.MetaDescription = "Read honest and accurate consumer reviews of Mortgage Lenders in your area at RateYourLender.com";
    ViewBag.Canonical = "/";
}

@section Meta {
    @*<script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "name" : "Rate Your Lender",
        "url" : "https://www.rateyourlender.com/",
        "sameAs" : [
        "https://twitter.com/rateyourlender",
        "https://www.facebook.com/RateYourLender/"
        }
    </script>*@
}

<div class="card" style="height:62vh;">
    <div class="card-block text-xs-center p-3">
        <h3>These aren't the droids you are looking for</h3>
    </div>
</div>
