
@{
    //ViewBag.Title = "Real Unbiased Reviews & Ratings of Mortgage Lenders";
    //ViewBag.MetaDescription = "Read honest and accurate consumer reviews of Mortgage Lenders in your area at RateYourLender.com";
    ViewBag.Canonical = "/";
}

<div class="card" style="height:97vh">
    <div class="card-block text-xs-center p-3">
        <h1 style="position:absolute;top:50%;left:45%;">Placeholder</h1>
    </div>
</div>
