
@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}

<style>
    .tableFloatingHeaderOriginal {
        overflow-x: auto;

    }
</style>

<div style="height:300px">
    hello
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table class="table table-sm table-horizontal table-responsive">
                <thead>
                    <tr class="header-row">
                        <td>
                            Assets

                            <div class="card-menu float-right">

                                <div class="btn-group">


                                    <i class="pointer fa fa-fw fa-arrows-alt" data-toggle="fullscreen" aria-hidden="true" title="Full screen"></i><span class="sr-only">Full screen</span>


                                    <i class="pointer fa fa-fw fa-ellipsis-v" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button">
                                            <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i>
                                            Add to Dashboard
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="fa fa-fw fa-line-chart" aria-hidden="true"></i>
                                            Add to Report
                                        </button>

                                        <div class="dropdown-divider"></div>

                                        <button class="dropdown-item" type="button">
                                            <i class="fa fa-fw fa-link" aria-hidden="true"></i>
                                            Link
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="fa fa-fw fa-code" aria-hidden="true"></i>
                                            Embed
                                        </button>
                                        <button class="dropdown-item" type="button">
                                            <i class="fa fa-fw fa-share-alt" aria-hidden="true"></i>
                                            Share
                                        </button>

                                        <div class="dropdown-divider"></div>

                                        <button class="dropdown-item" type="button">
                                            <i class="fa fa-fw fa-question" aria-hidden="true"></i>
                                            Help
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            FineMark National Bank &amp; Trust
                        </td>
                        <td>
                            All Insured Commercial Banks in Florida
                        </td>
                        <td>
                            AssetCon
                        </td>
                    </tr>
                </thead>




                <tbody>
                    <tr class="group-row">
                        <td colspan="4">
                            Loans &amp; Leases
                        </td>



                    </tr>

                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Real Estate Loans  UBPR1410">Real Estate Loans </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:881319000.0000,&quot;name&quot;:&quot;Real Estate Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Real Estate Loans &quot;}]" class="level-1">


                            881,319,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:334987798.38700000,&quot;name&quot;:&quot;Real Estate Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Real Estate Loans &quot;}]" class="level-1">


                            334,987,798


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:351080000.0000,&quot;name&quot;:&quot;Real Estate Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Real Estate Loans &quot;}]" class="level-1">


                            351,080,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Commercial Loans  UBPRE116">Commercial Loans </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:51292000.0000,&quot;name&quot;:&quot;Commercial Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Commercial Loans &quot;}]" class="level-1">


                            51,292,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:49320596.77410000,&quot;name&quot;:&quot;Commercial Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Commercial Loans &quot;}]" class="level-1">


                            49,320,597


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:51889000.0000,&quot;name&quot;:&quot;Commercial Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Commercial Loans &quot;}]" class="level-1">


                            51,889,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Individual Loans  UBPRD665">Individual Loans </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:63144000.0000,&quot;name&quot;:&quot;Individual Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Individual Loans &quot;}]" class="level-1">


                            63,144,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:6258298.38700000,&quot;name&quot;:&quot;Individual Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Individual Loans &quot;}]" class="level-1">


                            6,258,298


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:52286000.0000,&quot;name&quot;:&quot;Individual Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Individual Loans &quot;}]" class="level-1">


                            52,286,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Agricultural Loans  UBPR1590">Agricultural Loans </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:65000.0000,&quot;name&quot;:&quot;Agricultural Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Agricultural Loans &quot;}]" class="level-1">


                            65,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:295508.06450000,&quot;name&quot;:&quot;Agricultural Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Agricultural Loans &quot;}]" class="level-1">


                            295,508


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:3062000.0000,&quot;name&quot;:&quot;Agricultural Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Agricultural Loans &quot;}]" class="level-1">


                            3,062,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Other Loans and Leases in Domestic and Foreign Offices  UBPRE117">Other Loans and Leases in Domestic and Foreign Offices </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:1792000.0000,&quot;name&quot;:&quot;Other Loans and Leases in Domestic and Foreign Offices &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Other Loans and Leases in Domestic and Foreign Offices &quot;}]" class="level-1">


                            1,792,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:5070306.45160000,&quot;name&quot;:&quot;Other Loans and Leases in Domestic and Foreign Offices &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Other Loans and Leases in Domestic and Foreign Offices &quot;}]" class="level-1">


                            5,070,306


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:8227000.0000,&quot;name&quot;:&quot;Other Loans and Leases in Domestic and Foreign Offices &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Other Loans and Leases in Domestic and Foreign Offices &quot;}]" class="level-1">


                            8,227,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Loan and Lease Allowance  UBPR3123">Loan and Lease Allowance </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:11147000.0000,&quot;name&quot;:&quot;Loan and Lease Allowance &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Loan and Lease Allowance &quot;}]" class="level-1">


                            (11,147,000)


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:4521580.64510000,&quot;name&quot;:&quot;Loan and Lease Allowance &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Loan and Lease Allowance &quot;}]" class="level-1">


                            (4,521,581)


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:7476000.0000,&quot;name&quot;:&quot;Loan and Lease Allowance &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Loan and Lease Allowance &quot;}]" class="level-1">


                            (7,476,000)


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Unearned Income on Loans  UBPR2123">Unearned Income on Loans </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:627000.0000,&quot;name&quot;:&quot;Unearned Income on Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Unearned Income on Loans &quot;}]" class="level-1">


                            (627,000)


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:111766.12900000,&quot;name&quot;:&quot;Unearned Income on Loans &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Unearned Income on Loans &quot;}]" class="level-1">


                            (111,766)


                        </td>
                        <td data-chart-type="sparkline" data-series="" class="level-1">



                            —




                        </td>


                    </tr>
                    <tr class="group-row-total">
                        <td>
                            Total Loans &amp; Leases
                        </td>
                        <td>985,838,000</td>
                        <td>391,299,161</td>
                        <td>459,068,000</td>
                    </tr>


                    <tr class="group-row">
                        <td colspan="4">
                            Securities
                        </td>



                    </tr>

                    <tr class="data-row">

                        <td class="level-1">
                            <a title="U.S. Treasury and Agency Securities  UBPRE120">U.S. Treasury and Agency Securities </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:89757000.0000,&quot;name&quot;:&quot;U.S. Treasury and Agency Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;U.S. Treasury and Agency Securities &quot;}]" class="level-1">


                            89,757,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:71045193.54830000,&quot;name&quot;:&quot;U.S. Treasury and Agency Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;U.S. Treasury and Agency Securities &quot;}]" class="level-1">


                            71,045,194


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:492999000.0000,&quot;name&quot;:&quot;U.S. Treasury and Agency Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;U.S. Treasury and Agency Securities &quot;}]" class="level-1">


                            492,999,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Municipal Securities  UBPR8636">Municipal Securities </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:68628000.0000,&quot;name&quot;:&quot;Municipal Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Municipal Securities &quot;}]" class="level-1">


                            68,628,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:11792233.87090000,&quot;name&quot;:&quot;Municipal Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Municipal Securities &quot;}]" class="level-1">


                            11,792,234


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:39160000.0000,&quot;name&quot;:&quot;Municipal Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Municipal Securities &quot;}]" class="level-1">


                            39,160,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Foreign Debt Securities  UBPRD657">Foreign Debt Securities </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:4980000.0000,&quot;name&quot;:&quot;Foreign Debt Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Foreign Debt Securities &quot;}]" class="level-1">


                            4,980,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:456024.19350000,&quot;name&quot;:&quot;Foreign Debt Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Foreign Debt Securities &quot;}]" class="level-1">


                            456,024


                        </td>
                        <td data-chart-type="sparkline" data-series="" class="level-1">



                            —




                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="All Other Securities  UBPRE121">All Other Securities </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:140888000.0000,&quot;name&quot;:&quot;All Other Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;All Other Securities &quot;}]" class="level-1">


                            140,888,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:13627217.74190000,&quot;name&quot;:&quot;All Other Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;All Other Securities &quot;}]" class="level-1">


                            13,627,218


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:1207000.0000,&quot;name&quot;:&quot;All Other Securities &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;All Other Securities &quot;}]" class="level-1">


                            1,207,000


                        </td>


                    </tr>
                    <tr class="group-row-total">
                        <td>
                            Total Securities
                        </td>
                        <td>304,253,000</td>
                        <td>96,920,669</td>
                        <td>533,366,000</td>
                    </tr>


                    <tr class="group-row">
                        <td colspan="4">
                            Cash &amp; Balances due from depository institutions
                        </td>



                    </tr>

                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Noninterest-Bearing Cash and Due From Banks  UBPR0081">Noninterest-Bearing Cash and Due From Banks </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:11416000.0000,&quot;name&quot;:&quot;Noninterest-Bearing Cash and Due From Banks &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Noninterest-Bearing Cash and Due From Banks &quot;}]" class="level-1">


                            11,416,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:7436209.67740000,&quot;name&quot;:&quot;Noninterest-Bearing Cash and Due From Banks &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Noninterest-Bearing Cash and Due From Banks &quot;}]" class="level-1">


                            7,436,210


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:26997000.0000,&quot;name&quot;:&quot;Noninterest-Bearing Cash and Due From Banks &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Noninterest-Bearing Cash and Due From Banks &quot;}]" class="level-1">


                            26,997,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-1">
                            <a title="Interest-Bearing Bank Balances  UBPR0071">Interest-Bearing Bank Balances </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:1913000.0000,&quot;name&quot;:&quot;Interest-Bearing Bank Balances &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Interest-Bearing Bank Balances &quot;}]" class="level-1">


                            1,913,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:28520806.45160000,&quot;name&quot;:&quot;Interest-Bearing Bank Balances &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Interest-Bearing Bank Balances &quot;}]" class="level-1">


                            28,520,806


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1483160400000,&quot;y&quot;:39719000.0000,&quot;name&quot;:&quot;Interest-Bearing Bank Balances &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Interest-Bearing Bank Balances &quot;}]" class="level-1">


                            39,719,000


                        </td>


                    </tr>
                    <tr class="group-row-total">
                        <td>
                            Total Cash &amp; Balances Due
                        </td>
                        <td>13,329,000</td>
                        <td>35,957,016</td>
                        <td>66,716,000</td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Federal Funds Sold and Resales  UBPRD493">Federal Funds Sold and Resales </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:429280.30300000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:517763.77950000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:512460.31740000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:466424.00000000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:490491.93540000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;}]" style="background-color: rgba(0,255,0, 0.0712956452604814714734302636)" class="level-0 trending-up-1x">


                            490,492


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:13000000.0000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:13000000.0000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:13000000.0000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:8000000.0000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:7000000.0000,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Federal Funds Sold and Resales &quot;}]" style="background-color: rgba(255,0,0, 0.23)" class="level-0 trending-down-2x">


                            7,000,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Trading Account Assets  UBPR3545">Trading Account Assets </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:159.09090000,&quot;name&quot;:&quot;Trading Account Assets &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Trading Account Assets &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Trading Account Assets &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Trading Account Assets &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Trading Account Assets &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Trading Account Assets &quot;}]" style="background-color: rgba(255,0,0, 0.5)" class="level-0 trending-down-4x">


                            0


                        </td>
                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Premises and fixed assets (including capitalized leases) UBPR2145">Premises and fixed assets (including capitalized leases)</a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:12693000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:12523000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:12467000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:12722000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:12633000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;}]" style="background-color: rgba(255,0,0, 0.00)" class="level-0 trending-down-1x">


                            12,633,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:8024704.54540000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:7465677.16530000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:7968579.36500000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:7535408.00000000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:7651733.87090000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;}]" style="background-color: rgba(255,0,0, 0.02)" class="level-0 trending-down-1x">


                            7,651,734


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:19192000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:19193000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:19345000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:20285000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:20186000.0000,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Premises and fixed assets (including capitalized leases)&quot;}]" style="background-color: rgba(0,255,0, 0.0258962067528136723634847854)" class="level-0 trending-up-1x">


                            20,186,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Other Real Estate Owned  UBPRE130">Other Real Estate Owned </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:1872590.90900000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:1709244.09440000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:1656404.76190000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:1426936.00000000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:1318508.06450000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Other Real Estate Owned &quot;}]" style="background-color: rgba(255,0,0, 0.15)" class="level-0 trending-down-1x">


                            1,318,508


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:4730000.0000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:4896000.0000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:4739000.0000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:4006000.0000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:3363000.0000,&quot;name&quot;:&quot;Other Real Estate Owned &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Other Real Estate Owned &quot;}]" style="background-color: rgba(255,0,0, 0.14)" class="level-0 trending-down-1x">


                            3,363,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Direct and Indirect Investments in Real Estate Ventures  UBPRD304">Direct and Indirect Investments in Real Estate Ventures </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Direct and Indirect Investments in Real Estate Ventures &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Direct and Indirect Investments in Real Estate Ventures &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Direct and Indirect Investments in Real Estate Ventures &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Direct and Indirect Investments in Real Estate Ventures &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Direct and Indirect Investments in Real Estate Ventures &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Direct and Indirect Investments in Real Estate Ventures &quot;}]" class="level-0">


                            0


                        </td>
                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Investment in Unconsolidated Subsidiaries  UBPR2130">Investment in Unconsolidated Subsidiaries </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Investment in Unconsolidated Subsidiaries &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Investment in Unconsolidated Subsidiaries &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:0.00000000,&quot;name&quot;:&quot;Investment in Unconsolidated Subsidiaries &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:184.00000000,&quot;name&quot;:&quot;Investment in Unconsolidated Subsidiaries &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:145.16120000,&quot;name&quot;:&quot;Investment in Unconsolidated Subsidiaries &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Investment in Unconsolidated Subsidiaries &quot;}]" class="level-0">


                            145


                        </td>
                        <td data-chart-type="sparkline" data-series="" class="level-0">



                            —




                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Acceptances and Other Assets  UBPRE124">Acceptances and Other Assets </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:37779000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:39798000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:42450000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:50316000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:52241000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;}]" style="background-color: rgba(0,255,0, 0.1914026310913470446544376506)" class="level-0 trending-up-2x">


                            52,241,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:19388484.84840000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:17737110.23620000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:20551650.79360000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:20512960.00000000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:22263330.64510000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;}]" style="background-color: rgba(0,255,0, 0.0741379695004182212412884421)" class="level-0 trending-up-1x">


                            22,263,331


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:13567000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:12170000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:12296000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:12644000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:14323000.0000,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Acceptances and Other Assets &quot;}]" style="background-color: rgba(0,255,0, 0.0278617232991818382840716444)" class="level-0 trending-up-1x">


                            14,323,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Total Assets  UBPR2170">Total Assets </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:1110743000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:1206996000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:1262341000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:1309997000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:1368294000.0000,&quot;name&quot;:&quot;Total Assets &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Total Assets &quot;}]" style="background-color: rgba(0,255,0, 0.1159363597159739021537835485)" class="level-0 trending-up-1x">


                            1,368,294,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:523671386.36360000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:517693448.81880000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:570673746.03170000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:571879560.00000000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:586559362.90320000,&quot;name&quot;:&quot;Total Assets &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Total Assets &quot;}]" style="background-color: rgba(0,255,0, 0.0600452671056721454709721488)" class="level-0 trending-up-1x">


                            586,559,363


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:1051483000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:1038874000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:1079528000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:1111184000.0000,&quot;name&quot;:&quot;Total Assets &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:1104022000.0000,&quot;name&quot;:&quot;Total Assets &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Total Assets &quot;}]" style="background-color: rgba(0,255,0, 0.0249832855119864039646860672)" class="level-0 trending-up-1x">


                            1,104,022,000


                        </td>
                    </tr>
                    <tr class="data-row">

                        <td class="level-0">
                            <a title="Average Assets During Quarter  UBPRE878">Average Assets During Quarter </a>
                        </td>


                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:1116587000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:1163448000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:1227582000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:1294454000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:1334134000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Average Assets During Quarter &quot;}]" style="background-color: rgba(0,255,0, 0.0974160544588106435056112958)" class="level-0 trending-up-1x">


                            1,334,134,000


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:519871257.57570000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:503901007.87400000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:563313960.31740000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:566255368.00000000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:583724620.96770000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Average Assets During Quarter &quot;}]" style="background-color: rgba(0,255,0, 0.0614126694460523448402681456)" class="level-0 trending-up-1x">


                            583,724,621


                        </td>
                        <td data-chart-type="sparkline" data-series="[{&quot;data&quot;:[{&quot;x&quot;:1451538000000,&quot;y&quot;:1063512000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1459396800000,&quot;y&quot;:1042187000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1467259200000,&quot;y&quot;:1049569000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1475208000000,&quot;y&quot;:1093359000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;},{&quot;x&quot;:1483160400000,&quot;y&quot;:1104878000.0000,&quot;name&quot;:&quot;Average Assets During Quarter &quot;}],&quot;type&quot;:&quot;areaspline&quot;,&quot;name&quot;:&quot;Average Assets During Quarter &quot;}]" style="background-color: rgba(0,255,0, 0.0194478294556149813072160916)" class="level-0 trending-up-1x">


                            1,104,878,000


                        </td>



                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>