
@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}

<style>
    .tableFloatingHeaderOriginal {
        overflow-x: auto;

    }
</style>

<div class="card">
    <div class="card-block">
        <h1>Placeholder</h1>
    </div>
</div>
