@{
    ViewBag.Title = "Privacy Policy";
}

<div class="container single-layout">
    <div class="card">
        <div class="card-block">
            <h1>Privacy Policy</h1>

            <p>
                This privacy policy discloses the privacy practices for rateyourlender.com. This privacy policy applies solely to information collected by this web site. It will notify you of the following:
            </p>
            <ul>
                <li>
                    What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.
                </li>
                <li>
                    What choices are available to you regarding the use of your data.
                </li>
                <li>
                    How you can correct any inaccuracies in the information.
                </li>
            </ul>

            <h2>
                Information Collection, Use, and Sharing
            </h2>
            <p>
                We only have access to/collect information that you voluntarily give us via email, through a third-party in the mortgage indusry, or direct contact from you. We will not sell or rent this information to anyone.
            </p>
            <p>
                We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request.
            </p>
            <p>
                If you provide a review, your first name, last initial, review title, review content, rating, etc. will be displayed in association with the lender and/or loan officer that you worked with. Your email address and other contact information will not be displayed.
            </p>
            <p>
                From time to time, we may contact you via email in the future to tell you about specials, new products, or services.
            </p>

            <h2>
                Your Access to and Control Over Information
            </h2>
            <p>
                You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address given on our website:
            </p>
            <ul>
                <li>
                    Change/correct any data we have about you.
                </li>
                <li>
                    Have us delete any data we have about you, if possible.
                </li>
                <li>
                    Express any concern you have about our use of your data.
                </li>
            </ul>

            <h2>Registration</h2>
            <p>
                In order to use some portions of this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest.
            </p>

            <h2>Updates</h2>

            <p>
                Our Privacy Policy may change from time to time and all updates will be posted on this page.
            </p>
        </div>
    </div>
    
</div>