body {
  background-color: #ffffff;
  font-family: "Titillium Web";
}
button:focus {
  outline: 1px dotted;
}
a:focus,
a:hover {
  outline: none;
}
.modal-backdrop {
  background-color: #fff !important;
  opacity: .75 !important;
}
.modal .modal-dialog {
  max-width: 715px;
  width: 50%;
}
.fa-arrow-up {
  color: #3CC47C;
}
.fa-arrow-down {
  color: #f00;
}
.avatar {
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.avatar-sm {
  height: 40px;
  min-width: 40px;
}
.avatar-md {
  height: 100px;
  min-width: 100px;
}
.navbar {
  border-radius: 0;
  z-index: 1000;
}
.navbar-toggler {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.card {
  border-radius: 0;
}
.bg-faded {
  background-color: #2E96EA;
}
.logo {
  text-decoration: none !important;
  display: inline-block;
}
.logo h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.logo h1 .b {
  display: inline-block;
  background-color: #30C8CA;
  padding: 0 4px !important;
  border-radius: 4px;
}
.btn-primary {
  background-color: #2E96EA;
  border-color: #5cadef;
}
.btn-primary:hover {
  background-color: #5cadef;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#navbar-header {
  background-color: #3E637D;
  color: #eee;
}
#navbar-header .close {
  position: absolute;
  right: 1vh;
  top: 1vh;
  color: #fff !important;
}
#navbar-header .close:focus,
#navbar-header .close:hover {
  color: #fff;
}
#header {
  height: 50vh;
  max-height: 450px;
  margin-bottom: 0;
  margin-top: -54px;
}
#header .container {
  padding-top: 4vh;
}
#header .surround {
  padding: 45px;
  border-radius: 45px;
}
#header .surround-sm {
  padding: 0 !important;
}
.title-case {
  text-transform: capitalize;
}
.single-layout .card .card-block {
  padding: 45px;
}
footer {
  border-top: 1px solid #efefef;
  padding: 15px;
  margin-top: 180px;
  background-color: #9cccf4;
  color: #eee;
}
footer a {
  margin-left: 30px;
}
.sub-footer {
  background-color: #ffffff;
}
@media (max-width: 1199px) {
  .sidebar-column {
    padding-left: 0;
  }
  .main-column {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  #header {
    margin-bottom: 0;
  }
  #profile-header {
    margin-bottom: 0;
  }
  #profile-header .surround {
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  #profile-header .container-fluid {
    padding-top: 2vh;
  }
  .navbar .container {
    padding: 0;
  }
  .container-fluid {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .sidebar-column,
  .main-column {
    padding-right: 0;
    padding-left: 0;
  }
  .single-layout {
    padding-left: 0;
    padding-right: 0;
  }
  .single-layout .card .card-block {
    padding: 15px;
  }
  .error-background h1 {
    font-size: 1rem;
  }
  .error-background .call {
    margin-top: 0vh;
    max-width: 220px;
  }
  .error-background .response {
    margin-top: 7vh;
  }
}
@media (max-width: 767px) {
  #navbar-header .container {
    width: auto;
  }
  .modal-dialog {
    margin: 0;
    max-width: none !important;
    width: 100% !important;
  }
}