//@primary-color: #02779E;
//@primary-color: #0B486B;//

//@primary-color: #026475;
//@primary-color: #033649;

//@primary-color: #107FC9;//

//@primary-color: #064780;//
@primary-color: #2E96EA; //#1d365d; //bloo
@primary-color-secondary: lighten(#57A8ED, 15);
@accent-color: #30C8CA; // FFE545;
@accent-color-secondary: #F6F67A;

@body-color: #ffffff; //#F0F1EE;
@white: #fff;
@dark: #3E637D;

@green: #3CC47C;
@red: #f00;

//@accent-color: #ffd700;
//@accent-color: #ffd700;
//@accent-color: #ffd700;

@screen-xs: 480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min: @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone: @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet: @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md: 992px;
@screen-md-min: @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop: @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop: @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

body {
    background-color: @body-color;
    font-family: "Titillium Web";
}

button {
    &:focus {
        outline: 1px dotted;
    }
}

a {
    &:focus, &:hover {
        outline: none;
    }
}


.modal-backdrop {
    background-color: #fff !important;
    opacity: .75 !important;
}

.modal {
    .modal-dialog {
        max-width: 715px;
        width: 50%;
    }
}



.fa-arrow-up {
    color: @green;
}

.fa-arrow-down {
    color: @red;
}


.avatar {
    border: 1px solid #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.avatar-sm {
    height: 40px;
    min-width: 40px;
}

.avatar-md {
    height: 100px;
    min-width: 100px;
}



.navbar {
    border-radius: 0;
    z-index: 1000;
}

.navbar-toggler {
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.card {
    border-radius: 0;



    hr {
    }
}

.bg-faded {
    background-color: @primary-color;
}

.logo {
    text-decoration: none !important;
    display: inline-block;


    h1 {
        color: #fff;
        font-size: 2rem;
        margin: 0;
        padding: 0;

        .b {
            display: inline-block;
            background-color: @accent-color;
            padding: 0 4px !important;
            border-radius: 4px;
        }
    }
}


.btn-primary {
    background-color: @primary-color; //rgba(25,154,214,1);
    border-color: lighten(@primary-color, 10);

    &:hover {
        background-color: lighten(@primary-color, 10);
    }
}

.container-fluid {
    //max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
}

#navbar-header {
    background-color: @dark;
    color: #eee;

    .close {
        position: absolute;
        right: 1vh;
        top: 1vh;
        color: #fff !important;

        &:focus, &:hover {
            color: #fff;
        }
    }
}



#header {
    height: 50vh;
    max-height: 450px;
    margin-bottom: 0;
    margin-top: -54px;

    .container {
        padding-top: 4vh;
    }

    .surround {
        padding: 45px;
        border-radius: 45px;
    }

    .surround-sm {
        padding: 0 !important;
    }
}


.title-case {
    text-transform: capitalize;
}

.single-layout {

    .card {
        .card-block {
            padding: 45px;
        }
    }
}

footer {
    border-top: 1px solid #efefef;
    padding: 15px;
    margin-top: 180px;
    background-color: @primary-color-secondary;
    color: #eee;

    a {
        margin-left: 30px;
    }
}


.sub-footer {
    background-color: lighten(@primary-color-secondary, 60);
}


@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}

@media (max-width: @screen-md-max) {

    .sidebar-column {
        padding-left: 0;
    }

    .main-column {
        padding-right: 0;
    }
}

@media (max-width: @screen-sm-max) {


    #header {
        margin-bottom: 0;
    }

    #profile-header {
        margin-bottom: 0;

        .surround {
            margin-left: 0;
            padding-left: 15px;
            padding-right: 15px;
        }

        .container-fluid {
            padding-top: 2vh;
        }
    }

    .navbar {
        .container {
            padding: 0;
        }
    }


    .container-fluid {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .sidebar-column, .main-column {
        padding-right: 0;
        padding-left: 0;
    }

    .single-layout {
        padding-left: 0;
        padding-right: 0;

        .card {
            .card-block {
                padding: 15px;
            }
        }
    }

    .error-background {

        h1 {
            font-size: 1rem;
        }

        .call {
            margin-top: 0vh;
            //margin-left: 5vw;
            max-width: 220px;
        }

        .response {
            margin-top: 7vh;
            //margin-left: 63vw;
        }
    }
}


@media (max-width: @screen-xs-max) {
    #navbar-header {
        .container {
            width: auto;
        }
    }

    .modal-dialog {
        margin: 0;
        max-width: none !important;
        width: 100% !important;
    }
}
