*.suo
*.user
*.userosscache
*.sln.docstates
TestResults/
AppPackages/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
.vs/
[Bb]uild[Ll]og.*
project.lock.json
artifacts/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.nupkg
