
<div class="card sidebar-fixed">
    <div class="card-block">
        Company Bio Here

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="scroll-to" href="#netincome">
                Net Operating Income
            </a>
        </li>
        <li class="list-group-item">
            <a class="scroll-to" href="#intincome">
                Interest Income
            </a>
        </li>
        <li class="list-group-item">
            <a class="scroll-to" href="#totalassets">
                Total Assets
            </a>
        </li>
    </ul>
    <div class="sidebar-fixed-hidden row-padding text-xs-center to-top">
        <i class="fa fa-chevron-up fa-4x" aria-hidden="true"></i>
    </div>
</div>
