@model ConceptDefinitionViewModel
@{
    Layout = null;
}

<div class="card">
    <div class="card-block">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <b>
            @(Model.Definition?.Description)
        </b>

        <p>
            @(Model.Definition?.Narrative)
        </p>

        @Html.Partial("_Report", new ReportViewModel { Report = Model.Report })

    </div>
</div>


@foreach (var chart in Model.Report.Charts)
{


    <script>

        $(function () {

            $('#@chart.ChartId.ToString()').highcharts('Combo', {
                plotOptions: {
                    areaspline: {
                        lineWidth: 0,
                        fillColor: {
                            linearGradient: { x1: .2, x2: 0, y1: 0, y2: .75 },

                            stops: [
                                [0, '#2E96EA'],
                                [1, '#30C8CA']
                            ]
                        }
                    }
                }
            });

        });
    </script>

}