<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <concepts>
    <concept name="UBPRE010" shortLabel="ROAA" label="Return on Average Assets" narrative="" />
    <concept name="UBPRE630" shortLabel="ROAE" label="Return on Average Equity" narrative="" />
    <concept name="UBPRE088" label="Efficiency Ratio" />
    <concept name="UBPR2170" label="Total Assets" />
    <concept name="UBPRD662" label="Total Liabilities" />
    <concept name="UBPRE119" label="Total Net Loans" />
    <concept name="UBPR2200" label="Total Deposits" />
    <concept name="UBPR4340" label="Net Income" />
    <concept name="UBPRG105" label="Total Equity" />
    <concept name="RCON0352" label="Other Nontransaction Savings" shortLabel="Other Savings Deposits"/>
    <concept name="UBPRK426" shortLabel="Deposits below Insurance Limit" />
    <concept name="RCON6810" label="Money Market Deposit Accounts" shortLabel="MMDA" />
    <concept name="UBPRE018" shortLabel="NIM" label="Net Interest Margin" />
    <concept name="UBPR2130" shortLabel="Inv &amp; Uncon Subs" />
    <concept name="UBPR0081" shortLabel="Non-Int Cash &amp; Due from Banks" />
    <concept name="UBPRE117" shortLabel="Other Loans &amp; Leases" />
    <concept name="_LOANDEP" shortLabel="Loans/Dep" label="Loans to Deposits" formula="UBPRE119/UBPR2200*100" unit="P"/>
    <concept name="UBPRP859" label="Tier 1 Common Capital" />
    <concept name="UBPR8274" label="Tier 1 Capital" />
    <concept name="UBPR8275" label="Tier 2 Capital" />
    <concept name="UBPR3792" label="Total Capital" />
    <concept name="UBPRE660" label="Total Risk Weighted Assets" />
    <concept name="UBPRD486" label="Leverage Ratio" />
    <concept name="UBPRR029" label="Common Equity Tier 1 Capital Ratio" />
    <concept name="UBPRD487" label="Tier 1 Capital Ratio" />
    <concept name="UBPRD488" label="Total Capital Ratio" />
    <concept name="RCON2210" label="Demand Deposits" />
    <concept name="RIAD4073" label="Total Interest Expense" />
    <concept name="RIAD4079" label="Non-Interest Income" unit="U" />
    <concept name="RIAD4230" label="Provision: Loan &amp; Lease Losses" />
    <concept name="RIAD4302" label="Applicable Income Taxes" />
    <concept name="RIAD4300" label="Net Operating Income" />
    <concept name="UBPR3123" negative="true" />
    <concept name="UBPR2123" negative="true" />
    <concept name="UBPR2145" label="Premises and fixed assets (including capitalized leases)" />
    <concept name="UBPRE129" label="Acceptances &amp; Other Liabilities" />
    <concept name="UBPRE600" label="Loan-to-Deposit" />
    <concept name="_SECASET" label="Securities/Assets" formula="(UBPR1754+UBPR1773)/UBPR2170" unit="P" />
    <concept name="_EQUASET" label="Total Equity/Total Assets" formula="UBPRG105/UBPR2170" unit="P" />
    <concept name="_TCETAST" label="Tangible Equity/Tangible Assets" formula="(UBPR3210-UBPR3163-UBPR0426-UBPR3838)/UBPR2170" unit="P" null="0" />
    <concept name="RIAD4093" label="Total Noninterest Expense" />
    <concept name="RIADFT28" label="Net Extraordinary Items" />
    <concept name="RIAD3521" label="Realized Gain/Loss Held-to-Maturity Securities" shortLabel="Realized G/L Held-to-Mat Sec" />
    <concept name="RIAD3196" label="Realized Gain/Loss Available-for-Sale Securities" shortLabel="Realized G/L Avail-for-Sale Sec" />
    <concept name="RIAD4070" label="Fiduciary Activities" />
    <concept name="RIAD4080" label="Deposit Service Charges" />
    <concept name="RIADA220" label="Trading Revenue" />
    <concept name="RIADB497" label="Other Noninterest Income" />

    <concept name="RIAD4135" label="Personnel Expense" />
    <concept name="RIAD4217" label="Occupancy Expense" />
    <concept name="RIAD4092" label="Other Noninterest Expense" />
    <concept name="RIAD4150" label="Full-time Employees" />
    <concept name="_ASTEMPL" label="Assets per Employee" formula="RCON2170/RIAD4150" unit="U"/>
    <concept name="_EXPEMPL" label="Personnel Expense per Employee" formula="RIAD4135/RIAD4150" unit="U"/>

    <!--
    
    

    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />
    <concept name="" label="" />-->

    
  </concepts>
</configuration>