@using bank.reports
@using bank.poco;

@model TemplateElement

@{
    var org = (Organization)Model.Data;
    var data = bank.data.graph.Cypher.Acquisitions();
}

<link rel="stylesheet" href="~/assets/css/jsplumb/jsPlumbToolkit-defaults.css" />
<link rel="stylesheet" href="~/assets/css/jsplumb/jsPlumbToolkit-demo.css" />

<style>
    .org-node {
        background-color: aquamarine;
        max-width: 150px;
    }
</style>

<script type="jtk" id="tmplFocus">
    <div>
        <div class="name name-focus active-${isActive}">
            <span>${name}</span>
        </div>
    </div>
</script>
<script type="jtk" id="Organization">
    <div>
        <div data-source="graph-node" class="org-node active-${isActive}">
            <a target="_top" href="${url}">${name}</a>
        </div>
    </div>
</script>
<script type="jtk" id="tmplLocked">
    <div>
        <div class="name name-locked active-${isActive}">
            <span class="glyphicon glyphicon-lock"></span>
        </div>
    </div>
</script>

<div id="viz-container">
    <div style="height:500px;" class="viz-canvas canvas-wide">
        <div class="viz-close">
            <i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
            <i class="fa fa-pencil" mode="select" title="Select Mode"></i>
            <i class="fa fa-home" reset title="Zoom To Fit"></i>
        </div>
    </div>
</div>


<script>
    var data = @(Html.Raw(data.ToJson()));
</script>

<script src="~/assets/scripts/jsplumb/jsPlumb-2.1.4.js"></script>
<script src="~/assets/scripts/jsplumb/jsPlumbToolkit-1.0.24.js"></script>
<script src="~/assets/scripts/viz.js"></script>