@using bank.reports
@using bank.poco;

@model HierarchyElement

@{
    var org = (Organization)Model.Data;
    var vm = new HierarchyElementViewModel
    {
        Column = Model.DataColumns.First(),
        Element = Model
    };
}

@*<ul id="ul-data" style="position: relative">
    @foreach (var concept in Model.Concepts)
    {
        @Html.Partial("template/_HierarchyNode", new HierarchyNodeViewModel { Concept = concept, Organization = org, Element = Model })
    }
</ul>*@

<div id="mouse-overlay"></div>
<div id="org-chart" data-expand-to-level="@vm.Element.ExpandToLevel" class="hierarchy" data-data="@vm.Flatten().ToJson()"></div>

