@using bank.reports
@using bank.reports.charts
@model TableElement

<table class="table table-sm table-horizontal table-responsive">
    <thead>
        <tr class="header-row">
            <td>
                @Model.Title
            @Html.Partial("_CardMenu")
        </td>
        @foreach (var column in Model.DataColumns)
        {
            <td>
                @column.HeaderText
            </td>
        }
    </tr>
</thead>

    @Html.Partial("template/_TableRows", Model)


</table>