body {
  background-color: #eeeeee;
  font-family: "Titillium Web";
  color: #404040;
  position: relative;
}
.container-fluid {
  max-width: 1440px;
}
.logo {
  text-decoration: none !important;
  display: inline-block;
}
.logo a,
.logo h1 {
  color: #fff !important;
}
.logo h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.logo h1 .b {
  display: inline-block;
  background-color: #30C8CA;
  padding: 0 4px !important;
  border-radius: 4px;
}
.top-nav {
  background-color: #404040;
}
.bg-faded {
  background-color: transparent;
}
#global-nav {
  padding-left: 0;
}
#header {
  position: relative;
  background-color: #2E96EA;
  height: 300px;
  padding-top: 90px;
}
#header h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 0;
}
#header h4 {
  color: #fff;
}
.skirt {
  height: 75px;
}
#main-wrapper .first {
  margin-top: -53px;
}
.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.card {
  border-radius: 0 !important;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.card .card-header {
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: bold;
}
.card .card-menu .dropdown-item {
  font-size: 15px;
}
.card .card-menu .fa {
  color: #404040;
}
.card .card-menu .fa:hover {
  color: #404040;
}
.header-wrap {
  background-color: #2E96EA;
  color: #fff;
}
.org-nav {
  min-height: 56px;
  padding-top: 8px;
  /*bottom: 75px;
    left: 0;
    right:0;*/
}
.org-nav a {
  color: #404040;
}
.org-nav .reports-dropdown-menu {
  min-width: 300px;
}
.org-nav .nav-item .active {
  background-color: #808080;
  color: #fff !important;
}
.org-nav .nav-link {
  background-color: #e6e6e6;
  color: #404040 !important;
  margin-left: 2px;
  white-space: nowrap;
  min-height: 40px;
  padding-left: 0;
  padding-right: 0;
}
.org-nav .nav-link:hover {
  background-color: #808080;
  color: #fff !important;
}
.primary-tooltip {
  margin-bottom: 0;
  font-size: 1rem;
}
.child-title {
  text-align: center;
  font-weight: bold;
}
.card-sparkline {
  height: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: .80;
}
.card-sparkline:hover {
  opacity: 1;
}
.key-ratio {
  height: 150px;
}
.fixed-placement {
  height: 40px;
}
.main-chart {
  height: 450px;
  max-height: 700px;
}
.sankey {
  height: 500px;
}
.highcharts-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  overflow: visible !important;
}
.col {
  min-width: 200px;
}
.dropdown-menu {
  z-index: 1100;
}
.reveal {
  visibility: hidden;
}
svg {
  overflow: visible;
}
.fa-arrow-up {
  color: #3CC47C;
}
.fa-arrow-down {
  color: #f00;
}
.table td,
.table th {
  padding: .55rem;
}
.report-table {
  margin-bottom: 0;
}
.report-table thead {
  width: 100%;
}
.report-table thead th {
  font-size: 15px;
}
.report-table thead td {
  border-top: none;
  position: relative;
}
.report-table thead h5 {
  margin-bottom: 0;
}
.report-table tbody .level-0 {
  font-weight: bold;
}
.report-table tbody td {
  font-size: 15px;
}
.report-table tbody h5 {
  margin-bottom: 0;
}
.report-table .table-header {
  background-color: #30C8CA;
}
.report-table .subsection-filler {
  font-weight: bold;
  background-color: #56d5d7;
  border-top: 1px solid #30C8CA;
  border-right: 1px solid #30C8CA;
  font-size: 14px;
  text-align: center;
}
.report-table th.fact-column {
  border: none;
  vertical-align: middle;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-bottom: none;
}
.trending-up {
  background-color: #f0fff0;
}
.trending-up-1x {
  background-color: #f0fff0;
}
.trending-up-1x:hover {
  font-weight: 700;
}
.trending-up-2x {
  background-color: #f0fff0;
  background-color: #d6ffd6;
}
.trending-up-2x:hover {
  font-weight: 700;
}
.trending-up-3x {
  background-color: #f0fff0;
  background-color: #bdffbd;
}
.trending-up-3x:hover {
  font-weight: 700;
}
.trending-down-1x {
  background-color: #fff0f0;
}
.trending-down-1x:hover {
  font-weight: 700;
}
.trending-down-2x {
  background-color: #fff0f0;
  background-color: #ffd6d6;
}
.trending-down-2x:hover {
  font-weight: 700;
}
.trending-down-3x {
  background-color: #fff0f0;
  background-color: #ffbdbd;
}
.trending-down-3x:hover {
  font-weight: 700;
}
.trending-percent {
  position: absolute;
  font-size: .7rem;
  font-weight: bold;
  bottom: 0;
  left: 0;
  padding: 0;
  color: #000;
  display: none;
  min-width: 50px;
  z-index: 11;
  line-height: 1;
  height: 100%;
}
.trending-percent:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.lineitem-cell {
  position: relative;
  z-index: 10;
  padding-left: 45px !important;
}
.lineitem-sparkline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow-y: hidden;
}
.table-header {
  border-top: none !important;
  border-left: none !important;
}
.width-50 {
  width: 50%;
}
.width-75 {
  width: 75%;
}
.width-100 {
  width: 100%;
}
@media (max-width: 1200px) {
  .container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 767px) {
  .primary-tooltip {
    font-size: 10px;
  }
  #header {
    height: 26vh;
    min-height: 200px;
    padding-top: 70px;
  }
  #header h1 {
    font-size: 1.5rem;
  }
  #header h4 {
    font-size: 1rem;
  }
  .top-nav-item {
    font-size: 40%;
  }
  .top-nav-item h4 {
    font-size: 1rem;
  }
  /*.home {
        width: 100%;
        text-align: center;
    }*/
  /*.container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }*/
}