@import "site.less";

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}



@media (min-width: @screen-xl) {
    @navWidth: 30vw;


    /*.container-fluid {
        padding-left: 45px !important;
        padding-right: 45px !important;
    }*/

    /*.sidenav {
        width: @navWidth;
        max-width: @navWidth;
        transition: 0s;
    }*/

    .open {
        width: @navWidth;
        max-width: @navWidth;
    }

    body {
        //padding-right: @navWidth;
    }
}

@media (max-width: @screen-md-max) {
    /*#main-body {
        .single {
            & > .card {
                margin-top: 15px;
            }
        }
    }*/


}

@media (min-width: @screen-sm-min) {
    #main-body {

        .first {
            margin-top: -52px;
        }
    }

    /*.skirt {
        height: 22px;
    }*/
}

@media (min-width: @screen-xs-min) {
    .card {
        margin-top: 15px;
    }
}

@media (min-width: @screen-lg-min) {
    .card {
        margin-top: 30px;
    }
}

body {

    &.search-results {
        overflow-y: hidden;
    }
}



@media (max-width: @screen-xs-max) {
    body {
        padding-right: 0;
    }


    .sidenav {
        width: 0;
    }

    #search-box {
        background-color: transparent;
        border: none;
    }

    /*#main-body {
        display: none;
    }*/

    .search-mobile {
        position: absolute !important;
        background-color: @white;
        margin-left: auto !important;
        left: 0;
        right: 0;

        .nav-icon {
            display: none;
        }
    }

    .table-base {


        td {


            &:first-of-type {
                max-width: 250px;
            }
        }
    }



    .card {
        margin-top: 15px;
        //margin-bottom: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    /*.container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #sidenav-toggler {
        margin-right: 20px;
        margin-top: 5px;
    }*/

    .open {
        width: 100%;
        max-width: 100%;
    }

    .primary-tooltip {
        font-size: 10px;
    }

    .org-nav {
        .nav-link {
            //padding: 0;
        }
    }

    #header {
        height: 26vh;
        min-height: 200px;
        padding-top: 70px;

        h1 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1rem;
        }
    }

    .sidenav {
        a {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .nav-settings {
            padding-bottom: 100vh !important;
            overflow-y: hidden;
        }
    }

    .nav-icon {
        .dropdown-menu {
            max-width: 260px;

            .dropdown-item {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
        }
    }

    .cd-timeline-content {
        h2 {
            font-size: 1.1rem;
        }

        .btn {
            font-size: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            max-width: 100%;
        }
    }

    .sidenav-open {
        z-index: 200;
    }

    .top-nav-item {
        font-size: 40%;

        h4 {
            font-size: 1rem;
        }
    }
    /*.home {
        width: 100%;
        text-align: center;
    }*/

    /*.container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }*/
}
