@import "site.less";
@firstColumnPadding: 1.2rem;

.tableFloatingHeaderOriginal {
    overflow-x: auto;
}

.table-base {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
    position: relative;

    thead {
        z-index: 250;
        &:hover {
            .fa {
                color: @darker;
            }
        }
    }

    .header-row {
        td {
            overflow: hidden;
            white-space: normal;
            background-color: lighten(@accent-color, 35);
            border-right: 1px solid @dark;
            text-align: center;
            font-size: 95%;
            font-weight: bold;
            vertical-align: middle;
            padding: .3rem;
            height: 60px;
            //padding-bottom: .1rem;
            &:first-of-type {
                //min-height: 60px;
                overflow: visible;
                border-right: none;
                background-color: @white;
                text-align: left;
                padding-left: @firstColumnPadding;
            }
        }
    }

    .rank {
        display: inline-block;
        width: 60px;
        padding-right: 15px;
        font-weight: bold;
        text-align: center;
    }

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    tr {
        &:hover {
            //font-weight: bold !important;
            td {
                border-bottom: 1px solid @dark !important;
            }
        }
    }


    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        //width: 100%;
        /*min-width: 150px;
        ;*/
        min-width: 125px;
        max-width: 250px;
        width: 20%;
        border: 1px solid @darkish;
        padding-left: @firstColumnPadding;

        &:first-of-type {
            max-width: 700px;
            width: 100%;

            &.level-0 {
                padding-left: @firstColumnPadding;
            }

            &.level-1 {
                padding-left: @firstColumnPadding * 1.5;
            }

            &.level-2 {
                padding-left: @firstColumnPadding * 2;
            }

            &.level-3 {
                padding-left: @firstColumnPadding * 2.5;
            }

            &.level-4 {
                padding-left: @firstColumnPadding * 3;
            }
        }
    }



    .group-row {
        td {
            //background-color: lighten(@accent-color, 30);
            background: linear-gradient(lighten(@darkish, 10), @darkish);
            font-weight: bold;
            background-color: @darkish;

            &:first-of-type {
                //padding-left: @firstColumnPadding;
            }
        }
    }

    .group-row-total {
        td {
            //border-top: 2px solid @dark !important;
            //background-color: lighten(@accent-color, 30);
            background: linear-gradient(lighten(@darkish, 10), @darkish);
            border-bottom: 1px solid @darkest;
            font-weight: bold;
            text-align: right;
            //background-color: @darkish;
            border: none;


            &:first-of-type {
                //padding-left: @firstColumnPadding;
                text-align: left;
                font-size: 110%;
            }

            &.level-0 {
                background: none;
                background-color: @accent-color !important;
                padding-top: 15px;
                padding-bottom: 15px;
                vertical-align: middle;
            }
        }
    }


    .data-row {
        td {
            text-align: right;
            font-size: 95%;
            //padding-left: @firstColumnPadding;
            /*&.level-1 {
                padding-left: @firstColumnPadding * 1.5;
            }

            &.level-2 {
                padding-left: @firstColumnPadding * 2;
            }

            &.level-2 {
                padding-left: @firstColumnPadding * 2.5;
            }

            &.level-2 {
                padding-left: @firstColumnPadding * 3;
            }*/
            &:first-of-type {
                text-align: left;

                &:hover {
                    //background-color: @darkish;
                    //background: linear-gradient(@white, @darkish);
                }
            }
        }
    }
}

.table-horizontal {
    //.table-base;
}


.table-vertical {
    //.table-base;
}
